@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Lets start.</p>
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="btn btn-transparent btn btn-outline-dark btn-lg btn-block mb-2" style="min-width: 200px" asp-area="" asp-controller="Assigment" asp-action="Index">daily todo list</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-transparent btn btn-outline-dark btn-lg btn-block mb-2" style="min-width: 200px" asp-area="" asp-controller="" asp-action="">TBA</a>
        </li>
    </ul>
</div>
